.Allusers {
  padding: 2rem;
  background-color: #212f3d;
  width: auto;
  height: 91vh;
  position: relative;
  border-left: 2px solid white;
}

.but {
  display: flex;
}

.but button {
  width: 20%;
}
